<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@drawable/icon"
        android:label="WHERE"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config">
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/file_paths" />

        <activity android:name=".splash"
            android:configChanges="screenSize|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Title"
            android:configChanges="screenSize|orientation"/>
        <activity android:name=".GasStation"
            android:configChanges="screenSize|orientation"/>
        <activity android:name=".Parking"
            android:configChanges="screenSize|orientation"/>
        <activity android:name=".camera"
            android:configChanges="screenSize|orientation"/>
        <activity android:name=".Washing"
            android:configChanges="screenSize|orientation"/>
        <activity android:name=".CarCenter"
            android:configChanges="screenSize|orientation"/>


        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="fcyje1ke1w" />
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="fcyje1ke1w" />
        <meta-data
            android:name="com.naver.maps.map.CLIENT_TYPE"
            android:value="fcyje1ke1w" />
        <provider
            android:authorities="com.example.project"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />

        </provider>
    </application>

</manifest>